.blocker {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
}
.button_start {
	top: 50%;
	left: 50%;
  padding: 15px 100px;
	transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
	color: #fff;
  background: rgb(0, 0, 0);
  border: solid 1px #fff;
}
.button_start:hover {
  background: rgb(33, 33, 33);
}
